# Folders
.git
**/.git
core
packages/*
!packages/{{ cookiecutter.frontend_addon_name }}
packages/*/node_modules
.storybook
build
cache
coverage
locales/*.json
node_modules
omelette

# Files
.env
*.log
.dockerignore
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.gitmodules
.prettierignore
cypress*.json
docker-compose.yml
Dockerfile
Jenkinsfile
start_.sh
